<div>
    <label>Name</label>
    <input type="text" name="name" value="<%= persona.name %>">
</div>
<div>
    <label>Description</label>
    <textarea name="description"><%= persona.description %></textarea>
</div>
<div>
    <label>Who they want to be:</label>
    <textarea name="who"><%= persona.who %></textarea>
</div>
<div>
    <label>What they want to do:</label>
    <textarea name="do"><%= persona.do %></textarea>
</div>
<div>
    <label>How they want to feel:</label>
    <textarea name="feel"><%= persona.feel %></textarea>
</div>