<%- include('../empathize') %>
<h2 class="page-header"><%= persona.name %></h2>
<div>Description: <%= persona.description %></div>
<div>Who they want to be: <%= persona.who %></div>
<div>What they want to do: <%= persona.do %></div>
<div>How they want to feel: <%= persona.feel %></div>
<div class="btn-row">
    <a class="btn btn-primary" href="/personas/<%= persona.id %>/edit">Edit</a>
    <%- include('../../partials/deleteForm', { url: `/personas/${persona.id}` }) %>
</div>