<%- include('../define') %>
<h2 class="page-header"><%= abstractionLadder.title %></h2>
<div class="image-details">
    <div>
        <img class="image-cover" src="<%= abstractionLadder.coverImagePath %>">
        <div class="image-details-btn-grid">
            <a class="btn btn-primary" href="/abstractionladders/<%= abstractionLadder.id %>/edit">Edit</a>
            <%- include('../../partials/deleteForm', { url: `/abstractionladders/${abstractionLadder.id}` }) %>
        </div>
    </div>
    <div class="image-details-grid">
        <div class="image-details-label">Description:</div>
        <div><%= abstractionLadder.description %></div>
        <div class="image-details-label">Created:</div>
        <div><%= abstractionLadder.createdAt.toDateString() %></div>
    </div>

</div>