<%- include('../ideate') %>
<h2 class="page-header">Search Keywords</h2>
<form action="/keywords" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Word</label>
            <input type="text" name="word" value="<%= searchOptions.word %>">
        </div>
        <div class="form-item">
            <label>Sort By</label>
            <select name="SortBy">
                <% if(SortBy.title == 'A2Z') { %> <option selected label="A-Z" value="A2Z"></option> <% } else { %> <option label="A-Z" value="A2Z"></option> <% } %>
                <% if(SortBy.title == 'Z2A') { %> <option selected label="Z-A" value="Z2A"></option> <% } else { %> <option label="Z-A" value="Z2A"></option> <% } %>
            </select>
        </div>
    </div>
    <div><button class="btn btn-primary" type="submit">Search</button></div>
</form>
<br>
<% keywords.forEach(keyword => { %>
    <div class="index-title-row">
        <div class="index-title"><%= keyword.word %></div>
        <div class="btn-row">
            <a class="btn btn-primary" href="/keywords/<%= keyword.id %>">View</a>
            <a class="btn btn-primary" href="/keywords/<%= keyword.id %>/edit">Edit</a>
            <%- include('../../partials/deleteForm', { url: `/keywords/${keyword.id}` }) %>
        </div>
    </div>
<% }) %>