<div class="form-row">
  <div class="form-item">
    <label>Title</label>
    <input type="text" name="title" value="<%= postIt.title %>">
  </div>
  <div class="form-item">
      <label>Keyword</label>
      <select name="keyword">
      <% keywords.forEach(keyword => { %>
        <% if (keyword.id == postIt.keyword) { %>
          <option selected label="<%= keyword.word %>" value="<%= keyword.id %>">
        <% } else { %>
          <option label="<%= keyword.word %>" value="<%= keyword.id %>">
        <% } %>
      <% }) %>
    </select>
  </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label>Need Connected</label>
    <select name="needConnected">
      <% needConnected.forEach(needConnected => { %>
        <% if (needConnected.id == postIt.needConnected) { %>
          <option selected label="<%= needConnected.statement %>" value="<%= needConnected.id %>">
        <% } else { %>
          <option label="<%= needConnected.statement %>" value="<%= needConnected.id %>">
        <% } %>
      <% }) %>
      </select>
  </div>
  <div class="form-item">
    <label>Priority</label>
    <input type="number" name="priority" min="1" max="10" value="<%= postIt.priority %>">
  </div>
</div>
<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Cover</label>
    <input type="file" name="cover" class="image-cover filepond">
  </div>
  <div class="form-item">
    <label>Description</label>
    <textarea name="description"><%= postIt.description %></textarea>
  </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label>Idea From</label>
    <textarea name="ideaFrom"><%= postIt.ideaFrom %></textarea>
  </div>
</div>