<h2 class="page-header"><%= template.title %></h2>
<img width="200z" src="<%= template.coverImagePath %>">
<div><%= template.description %></div>
<div>Created: <%= template.createdAt.toDateString() %></div>
<div>Last Updated: <%= template.lastUpdated.toDateString() %></div>

<a href="/templates/<%= template.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/templates/${template.id}` }) %>