<%- include('../empathize') %>
<h2 class="page-header">Search Empathy Maps</h2>
<form action="/empathymaps" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
    <div>
        <label>Created After</label>
        <input type="date" name="createdAfter" value="<%= searchOptions.createdAfter %>">
    </div>
    <div>
        <label>Created Before</label>
        <input type="date" name="createdBefore" value="<%= searchOptions.createdBefore %>">
    </div>
    <div>
        <% empathyMaps.forEach(empathyMap => { %>
            <a href="/empathymaps/<%= empathyMap.id %>">
                <img height="150" width="150" src="<%= empathyMap.coverImagePath %>">
            </a>
        <% })  %>
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
</form>