<div class="form-row">
  <div class="form-item">
      <label>Title</label>
      <input type="text" name="title" value="<%= prototype.title %>">
  </div>
  <div class="form-item">
      <label>Type</label>
      <select name="type">
      <% types.forEach(type => { %>
        <% if (type.id == prototype.type) { %>
          <option selected label="<%= type.title %>" value="<%= type.id %>">
        <% } else { %>
          <option label="<%= type.title %>" value="<%= type.id %>">
        <% } %>
      <% }) %>
      </select>
    </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label>Idea Connected</label>
    <select name="ideaConnected">
    <% ideaConnected.forEach(ideaConnected => { %>
      <% if (ideaConnected.id == prototype.ideaConnected) { %>
        <option selected label="<%= ideaConnected.title %>" value="<%= ideaConnected.id %>">
      <% } else { %>
        <option label="<%= ideaConnected.title %>" value="<%= ideaConnected.id %>">
      <% } %>
    <% }) %>
    </select>
  </div>
  <div class="form-item">
    <label>Priority</label>
    <input type="number" name="priority" min="1" max="10" value="<%= prototype.priority %>">
  </div>
</div>
<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Cover</label>
    <input type="file" name="cover" class="image-cover filepond">
  </div>
  <div class="form-item">
    <label>Description</label>
    <textarea name="description"><%= prototype.description %></textarea>
  </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label>Purpose</label>
    <textarea name="purpose"><%= prototype.purpose %></textarea>
  </div>
</div>


<!-- <div>
  <label>Keywords</label>
  <input type="checkbox" name="keywords[]" value="1">
  <input type="checkbox" name="keywords[]" value="2">
  <input type="checkbox" name="keywords[]" value="3">
  <input type="checkbox" name="keywords[]" value="4">
  <input type="checkbox" name="keywords[]" value="5">
</div> -->
