<%- include('../prototype') %>
<h2 class="page-header"><%= prototype.title %></h2>
<div class="image-details">
    <div>
        <img class="image-cover" src="<%= prototype.coverImagePath %>">
        <div class="image-details-btn-grid">
            <a class="btn btn-primary" href="/prototypes/<%= prototype.id %>/edit">Edit</a>
            <%- include('../../partials/deleteForm', { url: `/prototypes/${prototype.id}` }) %>
        </div>
    </div>
    <div class="image-details-grid">
    <div class="image-details-label">Description:</div>
<div><%= prototype.description %></div>
<div class="image-details-label">Created:</div>
<div><%= prototype.createdAt.toDateString() %></div>
<div class="image-details-label">Type:</div>
<div><%= prototype.type.title %></div>
<div class="image-details-label">Idea Connected:</div>
<div><%= prototype.ideaConnected.title %></div>
<div class="image-details-label">Purpose:</div>
<div><%= prototype.purpose %></div>
<div class="image-details-label">Priority:</div>
<div><%= prototype.priority %></div>
</div>
</div>

<% if (testNotesByPrototype.length > 0) { %>
    <h2>Test Notes</h2>
    <% testNotesByPrototype.forEach(testNote => { %>
        <a href="/testnotes/<%= testNote.id %>">
            <div><%= testNote.title %></div>
        </a>
    <% }) %>
<% } %>