<%- include('../ideate') %>
<h2 class="page-header">Search Notes</h2>
<form action="/notes" method="GET">
    <label>Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
    <button class="btn btn-primary" type="submit">Search</button>
</form>
<br>
<% notes.forEach(note => { %>
    <div><%= note.title %></div>
    <div class="btn-row">
        <a class="btn btn-primary" href="/notes/<%= note.id %>">View</a>
        <a class="btn btn-primary" href="/notes/<%= note.id %>/edit">Edit</a>
        <%- include('../../partials/deleteForm', { url: `/notes/${note.id}` }) %>
    </div>
<% }) %>