<%- include('../define') %>
<h2 class="page-header"><%= povstatement.statement %></h2>
<div><%= povstatement.description %></div>
<div class="btn-row">
    <a class="btn btn-primary" href="/povstatements/<%= povstatement.id %>/edit">Edit</a>
    <%- include('../../partials/deleteForm', { url: `/povstatements/${povstatement.id}` }) %>
</div>
<% if (postItsByNeed.length > 0) { %>
    <h2>Design Ideas</h2>
    <% postItsByNeed.forEach(postIt => { %>
        <a href="/post-its/<%= postIt.id %>">
            <img height="150" width="150" src="<%= postIt.coverImagePath %>">
        </a>
    <% }) %>
<% } %>