<div>
    <label>Title</label>
    <input type="text" name="title" value="<%= testNote.title %>">
</div>
<div>
    <label>Description</label>
    <textarea name="description"><%= testNote.description %></textarea>
</div>
<div>
    <label>Prototype Connected</label>
    <select name="prototypeConnected">
    <% prototypes.forEach(prototype => { %>
      <% if (prototype.id == testNote.prototypeConnected) { %>
        <option selected label="<%= prototype.title %>" value="<%= prototype.id %>">
      <% } else { %>
        <option label="<%= prototype.title %>" value="<%= prototype.id %>">
      <% } %>
    <% }) %>
    </select>
  </div>