<nav class="stage-header-nav">
    <a href="/links" class="header-title">Resources</a>
    <ul>
        <li><a href="/links">Resources</a></li>
        <li><a href="/links/new">New Resource</a></li>
    </ul>
</nav>
<h2 class="page-header"><%= link.title %></h2>
<div><a href="<%= link.link %>"><%= link.link %></a></div>
<p>Description: <%= link.description %></p>
<div class="btn-row">
    <a class="btn btn-primary" href="/links/<%= link.id %>/edit">Edit</a>
    <%- include('../../partials/deleteForm', { url: `/links/${link.id}` }) %>
</div>